DATABASE_URL=postgresql://user:password@localhost:5432/buena
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/buena_test
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=buena
OPENAI_API_KEY=